In [1]:
class MyClass:
  x = 5

In [2]:
m = MyClass()

In [3]:
m.x

5

In [5]:
type(m) # __main__

__main__.MyClass

# double underscore --> dunder

In [6]:
class MyEmptyClass:
  pass

# Creating our first class 'Person'

In [1]:
class Person:    
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
p1 = Person("John", 36)


print(p1.name)
print(p1.age)

John
36

In [2]:
class Person:
    creator = 'Ashish'
Person.creator

'Ashish'

In [25]:
Person.name

AttributeError: type object 'Person' has no attribute 'name'

In [3]:
p1

# Adding dunder str()

In [4]:
class Person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def __str__(self):
        return  self.name + " is " + str(self.age) + " years old."

In [5]:
p2 = Person("Jack", 30)
print(p2)

Jack is 30 years old.

Without __str__(): <__main__.Person object at 0x7fd9ec343340>
With __str__(): Jack is 30 years old.

# Adding a custom method: calculatePay()

In [6]:
class Person:
    creator = 'Ashish'
    
    def __init__(self, name, age, pay = 150):
        self.name = name
        self.age = age
        self.pay = pay
        
    def __str__(self):
        return  self.name + " is " + str(self.age) + " years old."
    
    def calculatePay(self):
        prompt = '\nEnter number of hours worked for %s: ' % (self.name)
        hours = input(prompt)
        prompt = 'Enter the hourly rate for %s: ' %(self.name)
        hourlyRate = input(prompt)
        self.pay = int(hours)*int(hourlyRate)
        return self.pay

In [7]:
p3 = Person('Arvind', 40)

In [8]:
p3

In [9]:
print(p3)

Arvind is 40 years old.

In [10]:
p3.pay

150

In [11]:
p3.calculatePay()

Enter number of hours worked for Arvind:  6
Enter the hourly rate for Arvind:  20

120

In [47]:
p3.pay

96

Q1: What is a property?
Ans:
Variable associated with an object.
Name is a property of a person.
Age is a property of a person.

Can there be age without person? Can there be person without age?
No

Q2. What is a method?
Ans:
A function that is associated with an object.

Every property is a variable but not every variable is a property.
Every method is a function but not every function is a method.
__str__(): method
print(): function

Homework:

Create a class car.
With Properties:
Brand
Number of seats
Color
TopSpeed

Method:
isSportsCar():
    if TopSpeed is greater than 200 return True
    else return False

In [12]:
class Car:
    def __init__(self, brand, model, num_seats, color, top_speed):
        
        self.brand = brand
        self.model = model 
        self.num_seats = num_seats
        self.color = color
        self.top_speed = top_speed

    def isSportsCar(self):
        if self.top_speed > 200:
            return True
        else:
            return False
        
my_car = Car("Tesla","Y", 7, "white", 155)

print(my_car.brand)
print(my_car.model)
print(my_car.num_seats)  
print(my_car.color)  
print(my_car.top_speed)  

print(my_car.isSportsCar())

Tesla
Y
7
white
155
False

In [2]:
bool(None)

False

# Calculator class

In [5]:
class Calc:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        
    def add(self):
        return self.a + self.b
    
    def mul(self):
        return self.a * self.b
    
    def sub(self):
        return self.a - self.b

In [8]:
sub

NameError: name 'sub' is not defined

In [9]:
c = Calc(5, 5)

In [10]:
c.sub()

0

In [11]:
type(c)

__main__.Calc

In [12]:
c.add()

10

In [13]:
c.mul()

25