In [4]:
import string
import re
import random

In [5]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [6]:
l = [chr(i) for i in range(ord('a'), ord('z') + 1)]

In [7]:
print(l)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [8]:
s = ""
for i in range(ord('a'), ord('z') + 1): s += chr(i)
print(s)

abcdefghijklmnopqrstuvwxyz

In [9]:
print(string.digits)
print(string.ascii_lowercase)
print(string.ascii_uppercase)
print(string.ascii_letters)
print(string.printable)
print(string.hexdigits)
print(string.octdigits)

0123456789
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

0123456789abcdefABCDEF
01234567

In [10]:
x = "A line about Python String from the book 'Pg 191, Learning Python (O'Reilly, 5e)': Strictly speaking, Python strings are categorized as immutable sequences, meaning that the characters they contain have a left-to-right positional order and that they cannot be changed in place. In fact, strings are the first representative of the larger class of objects called sequences that we will study here. Pay special attention to the sequence operations introduced in this post, because they will work the same on other sequence types we’ll explore later, such as lists and tuples. Note: All string methods returns new values. They do not change the original string."

In [11]:
x

"A line about Python String from the book 'Pg 191, Learning Python (O'Reilly, 5e)': Strictly speaking, Python strings are categorized as immutable sequences, meaning that the characters they contain have a left-to-right positional order and that they cannot be changed in place. In fact, strings are the first representative of the larger class of objects called sequences that we will study here. Pay special attention to the sequence operations introduced in this post, because they will work the same on other sequence types we’ll explore later, such as lists and tuples. Note: All string methods returns new values. They do not change the original string."

In [12]:
x.count('a')

39

In [13]:
for i in string.ascii_letters: 
    print(i, x.count(i))
    break

a 39

In [14]:
print(len(x))
print(len(x.split()))
print(len(x.split(".")))

658
105
6

In [26]:
import numpy

In [17]:
import dateutil

In [31]:
dateutil.__version__

'2.8.2'

In [28]:
!pip show dateutil

WARNING: Package(s) not found: dateutil

In [24]:
d = dateutil.parser.parse("5.1.2015", dayfirst=True)

In [25]:
print(d.day, d.month, d.year)

5 1 2015

In [32]:
x

"A line about Python String from the book 'Pg 191, Learning Python (O'Reilly, 5e)': Strictly speaking, Python strings are categorized as immutable sequences, meaning that the characters they contain have a left-to-right positional order and that they cannot be changed in place. In fact, strings are the first representative of the larger class of objects called sequences that we will study here. Pay special attention to the sequence operations introduced in this post, because they will work the same on other sequence types we’ll explore later, such as lists and tuples. Note: All string methods returns new values. They do not change the original string."

In [33]:
x.find('that') # Find method of string class
print(x[x.find('that') : x.find('that') + 15])

that the charac

In [34]:
x.find('in')

3

In [35]:
pattern = 'that'
for match in re.finditer(pattern, x):
    s = match.start()
    e = match.end()
    # print('String match "%s" at slice %d:%d' % (x[s:e], s, e))
    print('String match "{}" at slice {}:{}'.format(x[s:e], s, e))

String match "that" at slice 165:169
String match "that" at slice 240:244
String match "that" at slice 372:376

In [37]:
pattern = ' in '
for match in re.finditer(pattern, x):
    s = match.start()
    e = match.end()
    # print('String match "%s" at slice %d:%d' % (x[s:e], s, e))
    print('String match "{}" at slice {}:{}'.format(x[s:e], s, e))

String match " in " at slice 267:271
String match " in " at slice 456:460

In [86]:
country_codes = {
    "+61": "Australia",
    "+91": "India",
    "+92": "Pakistan",
    "+94": "Sri Lanka",
}

In [94]:
ph_list = []
for i in range(20):
    ph = ""
    for i in range(10): ph += str(random.randrange(1, 10))
    
    ph_list.append(random.choice(list(country_codes.keys())) + ph)

In [95]:
ph_list

['+916931271267',
 '+917651179969',
 '+946537287864',
 '+943685549868',
 '+916145595723',
 '+611998419265',
 '+916486522229',
 '+612254354296',
 '+942451896152',
 '+928729946665',
 '+941189538821',
 '+613157532271',
 '+927351481817',
 '+912546373287',
 '+611138287122',
 '+617663659431',
 '+922936984789',
 '+925542964793',
 '+919929189699',
 '+914187412422']

In [88]:
random.randrange(1,10)

6

In [77]:
string.capwords(x)

"A Line About Python String From The Book 'pg 191, Learning Python (o'reilly, 5e)': Strictly Speaking, Python Strings Are Categorized As Immutable Sequences, Meaning That The Characters They Contain Have A Left-to-right Positional Order And That They Cannot Be Changed In Place. In Fact, Strings Are The First Representative Of The Larger Class Of Objects Called Sequences That We Will Study Here. Pay Special Attention To The Sequence Operations Introduced In This Post, Because They Will Work The Same On Other Sequence Types We’ll Explore Later, Such As Lists And Tuples. Note: All String Methods Returns New Values. They Do Not Change The Original String."

In [100]:
phn = ['+916931271267',
 '+917651179969',
 '+946537287864',
 '+943685549868',
 '+916145595723',
 '+611998419265',
 '+916486522229',
 '+612254354296',
 '+942451896152',
 '+928729946665',
 '+941189538821',
 '+613157532271',
 '+927351481817',
 '+912546373287',
 '+611138287122',
 '+617663659431',
 '+922936984789',
 '+925542964793',
 '+919929189699',
 '+914187412422']

country_codes = {
    "+61": "Australia",
    "+91": "India",
    "+92": "Pakistan",
    "+94": "Sri Lanka",
}

for i in phn:
    # Picking first three characters would be incorrect because
    # you have country codes like: +1 (for US, Canada) 
    # and +254 (for Kenya)
    
    for j in country_codes:
        if (i.startswith(j)):
            print(i, country_codes[j])

+916931271267 India
+917651179969 India
+946537287864 Sri Lanka
+943685549868 Sri Lanka
+916145595723 India
+611998419265 Australia
+916486522229 India
+612254354296 Australia
+942451896152 Sri Lanka
+928729946665 Pakistan
+941189538821 Sri Lanka
+613157532271 Australia
+927351481817 Pakistan
+912546373287 India
+611138287122 Australia
+617663659431 Australia
+922936984789 Pakistan
+925542964793 Pakistan
+919929189699 India
+914187412422 India

In [102]:
print('+917651179969'.startswith('+91'))
print('+917651179969'.startswith('+92'))

True
False

In [108]:
dates_of_birth = ['01/01/2003', '02/01/2004', '07/07/2003',
                  '03/02/2003', '04/03/2004', '05/03/2004']

In [110]:
for i in dates_of_birth:
    if i.endswith('2003'): print(i)

01/01/2003
07/07/2003
03/02/2003

In [1]:
x = "I love programming"

In [2]:
x.split()

['I', 'love', 'programming']

In [3]:
y = "Suresh,Ashish,Jim,Jack"

In [5]:
y.split(",")

['Suresh', 'Ashish', 'Jim', 'Jack']

In [38]:
z = "Suresh,Ashish.Jim,Jack.Vaibhav" # Two separators "," and "."

In [39]:
re.split("[.,]", z)

['Suresh', 'Ashish', 'Jim', 'Jack', 'Vaibhav']

In [44]:
z = '''Hello, there!
Am here to code.
Happy Learning!
Here was a multiline string!
'''

In [45]:
z

'Hello, there!\nAm here to code.\nHappy Learning!\nHere was a multiline string!\n'

In [46]:
z.split("\n")

['Hello, there!',
 'Am here to code.',
 'Happy Learning!',
 'Here was a multiline string!',
 '']

In [47]:
z.splitlines()

['Hello, there!',
 'Am here to code.',
 'Happy Learning!',
 'Here was a multiline string!']

# Form Validation

In [53]:
age = input("Enter your age (in years):")

Enter your age (in years): 5.2

In [54]:
str(age).isdigit()

False

In [58]:
first_name = input("Enter your first name:")

Enter your first name: vaibhav

In [59]:
first_name.isalpha()

True

# zfill()

In [1]:
empid_1 = '1015'
empid_2 = '99234'
empid_3 = '197234'

In [2]:
empids = [empid_1, empid_2, empid_3]

In [3]:
formatted_empids = [i.zfill(7) for i in empids] # List comprehension

In [4]:
formatted_empids

['0001015', '0099234', '0197234']