In [33]:
d = [13, 15, 16, 16, 19, 20, 20, 21, 22, 22, 25, 25, 25, 25, 
           30, 33, 33, 35, 35, 35, 36, 40, 45, 46, 52, 70]

In [34]:
# Sum of all elements using simple built in sum function
sum(d)

774

In [35]:
# Getting Count of each items 
from collections import Counter 

print(Counter(d))

Counter({25: 4, 35: 3, 16: 2, 20: 2, 22: 2, 33: 2, 13: 1, 15: 1, 19: 1, 21: 1, 30: 1, 36: 1, 40: 1, 45: 1, 46: 1, 52: 1, 70: 1})

In [36]:
import statistics as st

In [37]:
# Mean -> Sum of all data items / total no of data items
st.mean(d)

29.76923076923077

In [38]:
# Median -> Average of two items exist in mid of data set 

st.median(d)

25.0

In [39]:
# Mode -> Item with highest frequency of appearance 

st.mode(d)

25

In [42]:
# Mid-range -> Average of MaxValue And MinValue item

print(st.mean([max(d), min(d)]))

41.5

In [40]:
# Other Useful statistical measures

print("Quantiles Of Data Set : ")
print(st.quantiles(data = d, n = 4)) # [20.0, 25.0, 35.25]
print("Std. Deviation Of Data Set : ")
print(st.stdev(d))
print("Variance Of Data Set : ")
print(st.variance(d))

Mid Range Value Of Data Set :
41.5
Quantiles Of Data Set :
[20.0, 25.0, 35.25]
Std. Deviation Of Data Set :
13.158442741624686
Variance Of Data Set :
173.14461538461538

In [21]:
import pandas as pd

In [22]:
s = pd.Series(d)

In [11]:
s.describe()

count    26.000000
mean     29.769231
std      13.158443
min      13.000000
25%      20.250000
50%      25.000000
75%      35.000000
max      70.000000
dtype: float64

In [ ]:
df = pd.read_csv('HeightWeight.csv')

In [ ]:
df.head()

   Index  Height(Inches)  Weight(Pounds)
0      1        65.78331        112.9925
1      2        71.51521        136.4873
2      3        69.39874        153.0269
3      4        68.21660        142.3354
4      5        67.78781        144.2971

'statistics' is a core Python package. We can use it but now list it.
!pip show statistics
WARNING: Package(s) not found: statistics

In [8]:
st.correlation(df['Height(Inches)'], df['Weight(Pounds)'])

0.5028585206028441

# Linear Regression

In [6]:
# New in version 3.10
slope, intercept = st.linear_regression(df['Height(Inches)'], df['Weight(Pounds)'])

In [7]:
slope, intercept

(3.0834764454029657, -82.57574306454092)