In [ ]:
# Functions 

# A function is a block of code .
# It run when it is called
# It can return data as a result

In [1]:
# Creating a function 

def my_function():
  print("Hello from a function")

In [2]:
# Calling a function

my_function()

Hello from a function

In [8]:
# Calling functions with arguments

def get_full_name(first_name):
  print(first_name + " Murugan")

get_full_name("Emil")    # Calling of function with Value 'Emil'
get_full_name("Tobias")  # Calling of function with Value 'Tobias'
get_full_name("Linus")   # Calling of function with Value 'Linus'

Emil Murugan
Tobias Murugan
Linus Murugan

In [4]:
def div_by_7(x):
    if x % 7 == 0:
        print("yes, it is divisible by ")
    else:
        print("no, not divisible by 7")

x = int(input("Enter a natural number: "))

div_by_7(x)

Enter a natural number:  15

no, not divisible by 7

In [12]:
# Calling of a function with two arguments

def get_full_name(fname, lname):
  print(lname + ", " + fname)

get_full_name("Emil", "Murugan") # Calling of function with two arguments

Murugan, Emil

In [6]:
# Try to call a function with different numbers of arguments than no of parameters in definition
# This will raise an error

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil") # Note Passing only one argument

TypeError: my_function() missing 1 required positional argument: 'lname'

In [1]:
# Calling a function with arbitary number of arguments..

def my_function(*args):                      # Note the use of * before parameter name
    
    print(*args)  # to print all items of tuple
    print("The third argument is " + args[2]) # to display 3rd item of tuple

In [2]:
my_function("Emil", "Tobias", "Linus") # Calling function with three arguments

Emil Tobias Linus
The third argument is Linus

In [3]:
my_function("Tom", "Harry", "Thomas", "Shan") # Calling function with four arguments

Tom Harry Thomas Shan
The third argument is Thomas

# Customized Sum

In [15]:
l = [5, 8, 2, 4, 9]
print(sum(l)) # One argument: list of numbers

28

In [24]:
def customized_sum(*args):
    return sum(args)

# Here customized_sum can take any number of arguments.

In [25]:
customized_sum(5, 6, 7, 1, 9)

28

In [27]:
# Passing arguments with keywords i.e ( bind arguments with parameters name )
# Ordering of parameter has no mean in this case

def get_youngest_child(child3, child2, child1):   # define a function with three parameter 
  print("The youngest child is " + child3)

get_youngest_child(child1 = "Emil", child2 = "Tobias", child3 = "Linus") # Calling of function by passing key value pairs , order not matter

The youngest child is Linus

In [ ]:
# What will be output?
get_youngest_child("Emil", "Tobias", "Linus")

In [4]:
# Calling a function with arbitary number of key value pair arguments..

def my_function(**kwargs):                      # Note the use of ** before parameter name
    
    print(kwargs)  # to print all key value pairs of tuple

In [5]:
my_function(A1 = "Emil", A2 = "Tobias", A3 = "Linus") # Calling of function by passing three key value pairs

{'A1': 'Emil', 'A2': 'Tobias', 'A3': 'Linus'}

In [6]:
my_function(k1 = "V1", k2 = "V2", k3 = "V3", k4 = "V4") # Calling of function by passing four different key value pairs

{'k1': 'V1', 'k2': 'V2', 'k3': 'V3', 'k4': 'V4'}

# Defining of function with default values of parameters...
# In that case if we don't pass any argument at function calling time it uses default value

In [12]:


def my_function(country = "Norway"):
  print("I am from " + country)


my_function("Norway")
my_function("Brazil")

I am from Norway
I am from Brazil

In [13]:
my_function("Sweden")

I am from Sweden

In [14]:
my_function() # Calling of function without any argument

I am from Norway

In [15]:
# Data Types & Function Parameters

# We can pass any data type argument in a function parameter

# Data type can be : string , number , list , tuple , set , dictionary...

# Passed Value still be of 'passed data type' when it reaches the function

In [18]:
# For Ex passing  a List as an argument 
# it will still be a List when it reaches the function

def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)  # passing a list of fruits

apple
banana
cherry

In [17]:
# Use of return statment - To return a value from function

def my_function(x):
  return 5 * x

In [19]:
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [21]:
# Use of pass statment while we have nothing to define inside function body
# Function body can't be empty 
# To stop raising an error , we use pass statment

def myfunction():
  pass

In [ ]:
x = 25
if x % 5 == 0:
    print("Divisible by 5")
else:
    pass