In [ ]:
# Functions 

# A function is a block of code .
# It run when it is called
# It can return data as a result

In [1]:
# Creating a function 

def my_function():
  print("Hello from a function")

In [2]:
# Calling a function

my_function()

Hello from a function

In [3]:
# Calling functions with arguments

def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")    # Calling of function with Value 'Emil'
my_function("Tobias")  # Calling of function with Value 'Tobias'
my_function("Linus")   # Calling of function with Value 'Linus'

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [4]:
# Calling of a function with two arguments

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes") # Calling of function with two arguments

Emil Refsnes

In [6]:
# Try to call a function with different numbers of arguments than no of parameters in definition
# This will raise an error

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil") # Note Passing only one argument

TypeError: my_function() missing 1 required positional argument: 'lname'

In [13]:
# Calling a function with arbitary number of arguments..

def my_function(*args):                      # Note the use of * before parameter name
    
    print(*args)  # to print all items of tuple
    print("The third argument is " + args[2]) # to display 3rd item of tuple

my_function("Emil", "Tobias", "Linus") # Calling function with three arguments

my_function("Tom", "Harry", "Thomas","Shan") # Calling function with four arguments

Emil Tobias Linus
The third argument is Linus
Tom Harry Thomas Shan
The third argument is Thomas

In [1]:
# Passing arguments with keywords i.e ( bind arguments with parameters name )
# Ordering of parameter has no mean in this case

def my_function(child3, child2, child1):   # define a function with three parameter 
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus") # Calling of function by passing key value pairs , order not matter

The youngest child is Linus

In [2]:
# What will be output?
my_function("Emil", "Tobias", "Linus")

The youngest child is Emil

In [16]:
# Calling a function with arbitary number of key value pair arguments..

def my_function(**kwargs):                      # Note the use of ** before parameter name
    
    print(kwargs)  # to print all key value pairs of tuple
   

my_function(A1 = "Emil", A2 = "Tobias", A3 = "Linus") # Calling of function by passing three key value pairs

my_function(k1 = "V1", k2 = "V2", k3 = "V3", k4 = "V4") # Calling of function by passing four different key value pairs

{'A1': 'Emil', 'A2': 'Tobias', 'A3': 'Linus'}
{'k1': 'V1', 'k2': 'V2', 'k3': 'V3', 'k4': 'V4'}

In [17]:
# Defining of funtion with default values of parameters...
# In that case if we don't pass any argument at function calling time it uses defaut value

def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()        # Calling of functioin without any argument 
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
# Data Types & Function Parameters

# We can pass any data type argument in a function parameter

# Data type can be : string , number , list , tuple , set , dictionary...

# Passed Value still be of 'passed data type' when it reaches the function

In [18]:
# For Ex passing  a List as an argument 
# it will still be a List when it reaches the function

def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)  # passing a list of fruits

apple
banana
cherry

In [20]:
# Use of return statment - To return a value from function

def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [21]:
# Use of pass statment while we have nothing to define inside function body
# Function body can't be empty 
# To stop raising an error , we use pass statment

def myfunction():
  pass