In [8]:
s = {'Johanth', 'Python', 'Telangane'}
l = list(s)

In [1]:
d = {
    "name": "Johanth",
    "language": "Python",
    "state": "Telangana",
}

In [2]:
d

{'name': 'Johanth', 'language': 'Python', 'state': 'Telangana'}

In [4]:
print(type(s))

<class 'set'>

In [5]:
type(d)

dict

Dict: key value pair
A dict cannot contain duplicate keys.

In [7]:
d['name'] # We provide the key and get back the value.

'Johanth'

In [9]:
l[0]

'Johanth'

In [10]:
d2 = {
    "name": "Johanth",
    "language": "Python",
    "state": "Telangana",
    "name": "Ashish"
}

In [16]:
d2 # Python is saying: you cannot have two names. So I will keep the latest value.

{'name': 'Ashish', 'language': 'Python', 'state': 'Telangana'}

In a set, duplicate items are ignored.
In a dict, duplicate keys are ignored.

OR

A set has unique items. 
And, a dict has unique keys.

A dictionary is indexed by its keys, not numbers.

In [24]:
d = {
    "name": "Johanth",
    "language": "Python",
    "state": "Telangana",
}

print(d['name'])
print(d['language'])
print(d['state'])

Johanth
Python
Telangana

In [ ]:
# Duplicate values are allowed in a dict.

In [5]:
d = {
    'name': 'Johanth',
    'math': 85,
    'science': 85
}

In [6]:
d

{'name': 'Johanth', 'math': 85, 'science': 85}