## 1. Set is also a group of items in a single variable
## 2. Set is unordered, unindexed and can't have duplicate values
## 3. Set items are written in between curly brackets
## 4. Set items are unordered, meaning: the items can appear in any order on display
## 5. Set items are unchangeable in place ( because no index is associated with them to access  )
## 6. We can add or remove items to and from set
## 7. Set can have items of mixed data type i.e - string, number , boolean and other object as well )

# Given our knowledge about lists and tuples, let's see what we can do with sets already:

In [5]:
l = ['i', 'like', 'programming']
t = ('i', 'like', 'programming')
s = {'i', 'like', 'programming'}
emptyset = set()
emptydict = {}

In [6]:
print(type(l))
print(type(t))
print(type(s))
print(type(emptyset))
print(type(emptydict))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'set'>
<class 'dict'>

# Duplicate values will be ignored.
# Also, order might differ for elements in the set as a set is unordered data type.

In [1]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

thisset[0]
TypeError: 'set' object is not subscriptable

# A set is iterable.

In [2]:
for i in thisset:
    print(i)

banana
apple
cherry

# Creating set from a list

In [12]:
l = ["apple", "banana", "cherry", "apple"]
s = set(l) # Using type casting
print(s)

{'cherry', 'apple', 'banana'}

# Creating a list from a set

In [5]:
s = {'cherry', 'apple', 'banana'}
l = list(s)
print(l)
#print(l[0:2])
print(list(s)[0:2])

['banana', 'apple', 'cherry']
['banana', 'apple']

In [15]:
print("guava" in s)

False

In [16]:
print("apple" in s)

True

# How to remove duplicate values from a list?

In [2]:
x = input("enter the sentence: ").split()
print(x)
z = []
y = [z.append(i) for i in x if i not in z ]
print(z)

enter the sentence:  i like like like programming

['i', 'like', 'like', 'like', 'programming']
['i', 'like', 'programming']

In [3]:
words = ['i', 'like', 'like', 'like', 'programming']

In [4]:
set(words)

{'i', 'like', 'programming'}

In [1]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'apple', 'google', 'cherry', 'microsoft', 'banana'}

In [23]:
text = "A quick brown fox jumps over the lazy dog. Do you know this line is the most commonly known pangram."
s = set(text)
print(s)

{'f', '.', 'z', 'x', 'w', 'd', 'A', 'b', 'q', 'k', 's', ' ', 'j', 'r', 'n', 'D', 'p', 'i', 'a', 'v', 'h', 'u', 'o', 'e', 'y', 'l', 't', 'c', 'm', 'g'}

In [24]:
s1 = {'alpha', 'beta', 'gamma'}
s2 = {'delta', 'epsilon', 'zeta'}

In [25]:
s1.union(s2)

{'alpha', 'beta', 'delta', 'epsilon', 'gamma', 'zeta'}

In [27]:
s1 = {'a', 'b', 'c', 'd'}
s2 = {'d', 1, 2, 3}
s1.intersection(s2)

{'d'}

In [28]:
s1 = {'a', 'b', 'c', 'd'}
s2 = {'d', 1, 2, 3}

s1.difference(s2)

{'a', 'b', 'c'}

In [29]:
s2.difference(s1)

{1, 2, 3}

In [30]:
s1.symmetric_difference(s2)

{1, 2, 3, 'a', 'b', 'c'}

set1.difference(set2) U set2.difference(set1)

In [32]:
s1 = {'a', 'b', 'c', 'd'}
s2 = {'d', 1, 2, 3}

print("Symmetric Difference")
s1.difference(s2).union(s2.difference(s1))

Symmetric Difference

{1, 2, 3, 'a', 'b', 'c'}

In [35]:
s1 = {'a', 'b', 'c', 'd'}
s2 = {'d', 1, 2, 3}
s1.isdisjoint(s2)

False

# Problem

In [9]:
s1 = {'apple', 'banana', 'carrot'}
s2 = {'apple', 'pineapple', 'cherry'}

try:
    print(s1 + s2)
except Exception as e:
    print(e)

try:
    print(s1 - s2)
except Exception as e:
    print(e)

TypeError: unsupported operand type(s) for +: 'set' and 'set'