# Set is also a group of items in a single variable
# Set is unordered , unindexed and can't have duplicate values
# Set items are written in between curly brackets
# set items are unordered, meaning: the items can appear in any order on display
# set items are unchangeable in place ( because no index is associated with them to access  )
# We can add or remove items to and from set
# Set can have items of mixed data type i.e - string, number , boolean and other object as well )

# Given our knowledge about lists and tuples, let's see what we can do with sets already:

In [5]:
l = ['i', 'like', 'programming']
t = ('i', 'like', 'programming')
s = {'i', 'like', 'programming'}

In [6]:
print(type(l))
print(type(t))
print(type(s))

<class 'list'>
<class 'tuple'>
<class 'set'>

# Duplicate values will be ignored.
# Also, order might differ for elements in the set as a set is unordered data type.

In [1]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

thisset[0]
TypeError: 'set' object is not subscriptable

# A set is iterable.

In [2]:
for i in thisset:
    print(i)

banana
apple
cherry

# Creating set from a list

In [12]:
l = ["apple", "banana", "cherry", "apple"]
s = set(l) # Using type casting
print(s)

{'cherry', 'apple', 'banana'}

# Creating a list from a set

In [5]:
s = {'cherry', 'apple', 'banana'}
l = list(s)
print(l)
#print(l[0:2])
print(list(s)[0:2])

['banana', 'apple', 'cherry']
['banana', 'apple']

In [15]:
print("guava" in s)

False

In [16]:
print("apple" in s)

True

# How to remove duplicate values from a list?

In [2]:
x = input("enter the sentence: ").split()
print(x)
z = []
y = [z.append(i) for i in x if i not in z ]
print(z)

enter the sentence:  i like like like programming

['i', 'like', 'like', 'like', 'programming']
['i', 'like', 'programming']

In [3]:
words = ['i', 'like', 'like', 'like', 'programming']

In [4]:
set(words)

{'i', 'like', 'programming'}

In [1]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'apple', 'google', 'cherry', 'microsoft', 'banana'}