In [5]:
l = ['i', 'like', 'programming']
t = ('i', 'like', 'programming')
s = {'i', 'like', 'programming'}

In [6]:
print(type(l))
print(type(t))
print(type(s))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [1]:
# Duplicate values will be ignored.
# Also, order might differ for elements in the set as a set is unordered data type.
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

thisset[0]
TypeError: 'set' object is not subscriptable

In [2]:
# A set is iterable.
for i in thisset:
    print(i)

banana
apple
cherry

In [12]:
# Creating set from a list
l = ["apple", "banana", "cherry", "apple"]
s = set(l) # Using type casting
print(s)

{'cherry', 'apple', 'banana'}

In [5]:
# Creating a list from a set

s = {'cherry', 'apple', 'banana'}
l = list(s)
print(l)
#print(l[0:2])
print(list(s)[0:2])

['banana', 'apple', 'cherry']
['banana', 'apple']

In [15]:
print("guava" in s)

False

In [16]:
print("apple" in s)

True

In [1]:
# How to remove duplicates values from a list?
x = input("enter the sentence ").split()
print(x)
z = []
y = [z.append(i) for i in x if i not in z ]
print(z)

enter the sentence  i like like programming

['i', 'like', 'like', 'programming']
['i', 'like', 'programming']

In [2]:
words = ['i', 'like', 'like', 'programming']

In [4]:
set(words)

{'i', 'like', 'programming'}

In [1]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'apple', 'google', 'cherry', 'microsoft', 'banana'}