In [1]:
l = ['Ashish', 'Lijiya', 'Bala'] 
for i in l:
    print(i)

Ashish
Lijiya
Bala

In [2]:
s = "just a string"
for i in s:
    print(i)

j
u
s
t

a

s
t
r
i
n
g

In [3]:
t = ('alpha', 'beta', 'gamma')
for i in t:
    print(i)

alpha
beta
gamma

In [4]:
d = { 'one': 1, 'two': 2, 'three': 3 }
for i in d:
    print(i)

one
two
three

In [5]:
s = {'one', 'two', 'three'}
for i in s:
    print(i)

three
two
one

In [2]:
x = int(input("input range: "))
for i in range(1, x):
    if i % 2 == 0:
        print(i)

input range:  21

2
4
6
8
10
12
14
16
18
20

In [12]:
l = []
for i in range(5):
    l.append(int(input("Enter the number: ")))

s = sum(l)
print("sum:", s)

avg = sum(l) / len(l)
print("average:", avg)

Enter the number:  1
Enter the number:  9
Enter the number:  22
Enter the number:  25
Enter the number:  29

sum: 86
average: 17.2

In [11]:
avg

4.5

In [8]:
random.randrange(1, 10) # start: 1, end: 10 (exclusive)

6

In [9]:
import random
l = []
for i in range(10):
    l.append(random.randrange(1, 10))

print(l)
    
s = sum(l)
print(s)

avg = sum(l) / len(l)
print(avg)

[4, 2, 4, 3, 8, 5, 7, 4, 4, 4]
45
4.5

In [5]:
""" 
for i in range(1, 11):
    print(i) 
"""


i = 1
while(i < 11):
    print(i, sep=" ")
    i += 1

1
2
3
4
5
6
7
8
9
10